<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Склад</Data></Cell>
        <Cell><Data ss:Type="String">Поставщик</Data></Cell>
        <Cell><Data ss:Type="String">Наименование</Data></Cell>
        <Cell><Data ss:Type="String">Обязат.</Data></Cell>
        <Cell><Data ss:Type="String">К-во дн. присуст.</Data></Cell>
        <Cell><Data ss:Type="String">Продажи</Data></Cell>
        <Cell><Data ss:Type="String">Остат.</Data></Cell>
        <Cell><Data ss:Type="String">Сред.дн. прод.</Data></Cell>
        <Cell><Data ss:Type="String">К зак.</Data></Cell>
        <Cell><Data ss:Type="String">Квант</Data></Cell>
        <Cell><Data ss:Type="String">Нал. зак.</Data></Cell>
        <Cell><Data ss:Type="String">След. зак.</Data></Cell>
        <Cell><Data ss:Type="String">Расч. дн.</Data></Cell>
      </Row>
    <% @orders.each do |order| %>
      <Row>
        <Cell><Data ss:Type="String"><%= order.division&.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.provider %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.product %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.required %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.day_store %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.sales %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.remainder %></Data></Cell>
        <Cell><Data ss:Type="String"><%= number_with_precision(order.average_sales, precision: 1) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.to_order %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.quantum %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.availability_order %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.next_order %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.cal_day_order %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>